@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* ---- particles.js container ---- */ 
#particles-js{ 
    position:absolute; 

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%; 
    height: 100%; 
    background-color: #000000; 
    background-image: url("../img/sky.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
}

.topo{
    position: fixed;
    z-index: 5;
    top: 0;

    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 15vh;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}
.topo .navbar{
    height: 100%;

    background-color: none;
}
.topo nav a {
    display: flex;
    align-items: center;

    height: 100%;
    width: 20%x;
}
.topo nav a img{
    height: 70px;
    width: 70px;
}
.slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    height: 100%;
    width: 180px;
}
#titulo{
    margin: 0;
    padding: 0;

    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#subtitulo{
    margin: 0;
    padding: 0;

    text-transform: lowercase;
    font-size: 0.82rem;
    letter-spacing: 0.275em;
}

.contemTodos{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;

    background-color: none;
}

.principal{
    z-index: 2;

    height: 450px;
    min-width: 320px;

    background-color: none;
}

.row{
    height: 100%;
    background-color: none;
}
.colunaCalc {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: none;
}
.colunaResultado {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: none;
}
.resultado{
    width: 90%;
    min-width: 320px;
    height: 90%;

    background: rgba(0, 0, 0, 0.76);
    border: 1px solid #000000;
    box-sizing: border-box;
    /* filter: blur(5px); */
    border-radius: 20px;
}
.resultadoTriangulo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 35%;
    background-color: none;
    padding: 10px;

    background-color: none;
}
.resultadoTriangulo svg{
    height: 150px;
}
.resultadoTriangulo svg .lado1{
    stroke: #35CFFF;
}
.resultadoTriangulo svg .lado2{
    stroke: #73DB8E;
}
.resultadoTriangulo svg .lado3{
    stroke: #7220D8;
}
.linhaFormula{
    width: 100%;
    height: 20%;

    background-color: none;
}
.colunaVariaveis{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 0;
    padding: 0;
    height: 100%;

    background-color: none;
}
.campoVariavel{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 77%;

    background: none;
    border-radius: 5px;
    border: none;
    border-bottom: solid 4px #fff;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}
.campoVariavel:hover{
    background: none;
    border: none;
    border-bottom: solid 4px #fff;
    color: #35CFFF;
}
.campoVariavel:active{
    background: none;
    border: none;
    border-bottom: solid 4px #fff;
    color: #35CFFF;
}
.campoVariavel:focus{
    background: none;
    border: none;
    border-bottom: solid 4px #fff;
    color: #35CFFF;
}
.formula{
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.5em;
}
sup {
    margin: 0;
    padding: 0;
    
}

.calculadora{
    width: 320px;
    max-width: 320px;
    height: 90%;

    border-radius: 10px;

    background-color: #fff;
    background-image: url('../img/fundoCalc.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 100%;
}
.interior{
    height: 95%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 9px;

    background: none;
}
.visor{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 35%;
    background-color: none;
    padding: 10px;
}
.teclas{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 65%;
    background-color: none;
}
.linhaTecla{
    width: 100%;
    height: 20%;
}
.colunaTecla{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 0;
    padding: 0;
    height: 100%;

    background-color: none;
}
.num{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 77%;

    background: #35CFFF;
    box-shadow: 2px 2px 10px #35CFFF;
    border-radius: 5px;
    border-color: #35CFFF;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}
.num:hover{
    background: #73DB8E;
    box-shadow: 2px 2px 10px #35CFFF;
    border-color: #73DB8E;
    color: #000;
}
.num:active{
    background-color: #fff;
    box-shadow: 2px 2px 10px #35CFFF;
    border-color: #73DB8E;
    color: #000;
}
.num:focus{
    background-color: #fff;
    box-shadow: 2px 2px 10px #35CFFF;
    border-color: #73DB8E;
    color: #000;
}

.cateto{
    background: #35CFFF;
    box-shadow: inset 2px 2px 10px rgb(0, 142, 185);
    border-color: #35CFFF;
    color: #fff;
    font-weight: lighter;
    font-size: 1.2rem;
}
.cateto:focus{
    background: #73DB8E;
    box-shadow: inset 2px 2px 10px rgb(0, 142, 185);
    border-color: #35CFFF;
    color: #fff;
    font-weight: lighter;
    font-size: 1.2rem;
}
.cateto::placeholder{
    color: #fff;
}
.apaga svg{
    color: #7220D8;
    height: 30px;
}
.igual button{
    color: #7220D8;
}

.circuloGrande{
    position: absolute;
    left: 0;

    width: 220px;
    height: 450px;

    overflow: hidden;

    background-color: none;
}
.fundoCirculoAzul{
    position: absolute;
    height: 100%;
    left: -280px;

}

.circuloGrandeRoxo{
    position: absolute;
    bottom: 0;

    width: 480px;
    height: 160px;

    overflow: hidden;

    background-color: none;
}
.fundoCirculoRoxo{
    position: absolute;
    width: 100%;
    top: 30px;

}

.circuloGrandeBranco{
    position: absolute;
    right: 0;
    top: 250px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 300px;

    overflow: hidden;

    background-color: none;
}
.fundoCirculoBranco{
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.938);
}
.circuloGrandeRoxo p{
    position: absolute;
    z-index:  10;
    top: 100px;

    color: #fff;
    text-align: center;
    letter-spacing: 0.55em;

    text-shadow: 4px 4px 10px #000000;
}


@media(max-width: 767px){
    body {
        height: auto;
        width: 100%;
    }
    html{
        width: 100%;
    }
    #particles-js, .contemTodos{
        height: 1100px;
        width: 100%;
    }
    .topo, .navbar{
        width: 100%;
    }
    .principal{
        height: 900px;
    }
    .colunaCalc{
        height: 50%;
    }
    .colunaResultado{
        height: 50%;
    }
    .circuloGrandeRoxo{
        width: 90%;
    }
}